
@using specTestApp.Web.Models
@model  specTestApp.ViewModels.CreateRequestViewModel

@{
    ViewBag.Title = "Создать заявку";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            @using (Html.BeginForm("Create", "Requests", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h4>Введите текст</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Caption, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @if (!Model.DenyCreation)
                        {
                            @Html.TextBoxFor(m => m.Caption, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Caption, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Caption, new { @class = "form-control", disabled = "true" })
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @if (!Model.DenyCreation)
                        {
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", disabled = "true" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="file" name="File" disabled="@Model.DenyCreation" />
                    </div>
                </div>

                <div class="form-group text">
                    <div class="col-md-offset-2 col-md-10">
                        @if (!Model.DenyCreation)
                        {
                            <input type="submit" class="btn btn-default" value="Создать заявку" />
                        }
                        else
                        {
                            <span class="label label-danger">@Model.DenyCreationReason</span>
                        }

                    </div>
                </div>
            }
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



